<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785353175115-2lenm858l9rsuk0gc9ha35og3lk7l5rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785353175115-2lenm858l9rsuk0gc9ha35og3lk7l5rf</string>
	<key>API_KEY</key>
	<string>AIzaSyDo0y1BWDcPxGi0mejSU16mlnWWPPRXxaM</string>
	<key>GCM_SENDER_ID</key>
	<string>785353175115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.codingarts.colorclashchallenge</string>
	<key>PROJECT_ID</key>
	<string>color-clash-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>color-clash-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785353175115:ios:60b817c0d06b27532a1dce</string>
</dict>
</plist>